{{block "head"}}
    <link rel="stylesheet" href="/public/css/header.css">
{{/block}}

<div class="nav" id="cnode_header">
    <div class="header">
        <a class="brand" href="/">
            <img src="/public/imgs/cnodejs_light.svg">
        </a>
        <form id="search_form" action="/search">
            <input type="text" class="search" id="q" name="q">
        </form>
        <ul class="list">
            <li><a href="/">首页</a></li>
            <li><a>新手入门</a></li>
            <li><a>API</a></li>
            <li><a>关于</a></li>
            <li><a href="/register">注册</a></li>
            <li><a href="/login">登录</a></li>
        </ul>
    </div>
</div>
