{{block "head"}}
    <link rel="stylesheet" href="/public/css/sidebar.css">
{{/block}}


<div class="sidebar fr">
    <div class="panel">
       <div class="inner">
           <p style="margin-bottom: 20px;">Mike 专业中文社区</p>
           <span style="display: block;margin-bottom: 10px;font-size: 13px;">您可以 <a>登录</a> 或 <a>注册</a> , 也可以</span>
           <a class="github-btn">通过 GitHub 登录</a>
       </div>
    </div>
    {{ if user }}
    <div class="panel">
        <div class="inner">
            <a class="btn" href="/create">发布话题</a>
        </div>
    </div>
    {{ /if }}
    <div class="panel">
      <div class="inner">
          <ul>
              <li class="ad">
                  <img src="/public/imgs/ad1.jpg">
              </li>
              <li class="ad">
                  <img src="/public/imgs/ad2.jpg">
              </li>
              <li class="ad">
                  <img src="/public/imgs/ad3.jpg">
              </li>
          </ul>
      </div>
    </div>
    <div class="panel">
        <h1>无人回复的话题</h1>
        <div class="inner">
            <ul class="list">
                <li>子进程中process无法监听退出事件</li>
                <li>子进程中process无法监听退出事件</li>
                <li>子进程中process无法监听退出事件</li>
                <li>子进程中process无法监听退出事件</li>
                <li>子进程中process无法监听退出事件</li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <h1>友情社区</h1>
        <div class="inner">
            <ul>
                <li class="ad">
                    <a href="http://www.aimike.shop" target="_blank">
                        <img src="/public/imgs/link2.jpg">
                    </a>
                </li>
                <li class="ad">
                    <a href="http://www.aimike.shop/lumoney" target="_blank">
                        <img src="/public/imgs/link1.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <h1>微信二维码</h1>
        <div class="inner">
           <div class="qrcode">
               <img src="/public/imgs/qrcode.png">
           </div>
        </div>
    </div>
</div>
