{{extend "./_layout/home.html"}}

{{block "body"}}
    <div id="content">
        <div class="tabs-box">
            <ul class="tabs">
                <li><a class="active">全部</a></li>
                <li><a>精华</a></li>
                <li><a>分享</a></li>
                <li><a>问答</a></li>
                <li><a>招聘</a></li>
                <li><a>客户端测试</a></li>
            </ul>
        </div>
        <ul class="topic-list">

            {{each topic}}
                <li class="cl">
                    <a class="avatar">
                        <img src="{{$value.user.avatar}}">
                    </a>
                    <span class="title">{{$value.title}}</span>

                    <span class="fr">发表时间: {{$value.created_time}}</span>
                </li>
            {{/each}}
        </ul>


    </div>
{{/block}}


{{block "script"}}
<script src="/public/js/main.js"></script>
{{/block}}

